section.section.animate_product
	.section_in
		.animate_product__wrap
			.animate_product__img_container.js-animate-product
				img.animate_product__img(src='images/animate_box.png', alt='box')
				img.animate_product__img.js-animate-bottle(src='images/animate_bottle.png', alt='box')
			h3.animate_product__title король мира среди масел
