section.section.article
	.section_in
		.article__wrap
			article
				p
					| На сектор сельского и лесного хозяйств, и других видов землепользования приходится около
					b 24% общих глобальных выбросов
					| не только за счет энергии, используемой для выращивания, но и за счет управления земельными ресурсами.
				p Однако растения могут поглощать углекислый газ из атмосферы и сохранять часть этого углерода в биомассе, мертвом органическом веществе и почве. Такое хранение углерода называется биологической секвестрацией углерода.
				p Таким образом, естественное улавливание углерода в сочетании с рациональным управлением землей можно рассматривать как технологию с «отрицательными выбросами»2.
				p Почва может поглощать более миллиарда тонн углерода каждый год3.
				p Менее интенсивная обработка почвы, мульчирование частей урожая и посадка промежуточных культур на сидераты дают значительную возможность связывать поглощенный из атмосферы углерод в течение длительного времени3.
				img.lazy(data-src='images/sections.png', alt='article img')
