section.section.grow
	.section_in
		.grow__wrap
			.grow__content
				.grow__title Современные технологии направлены на экономию природных ресурсов.
				.grow__descr Именно такие технологические решения внедряют специалисты RS Success Agro. Среди них – увеличение эффективности использования земель с помощью внедрения инновационного подземного капельного орошения.
			.grow__img_w.js-grow
				.grow__img_animate
					+icon('grow_top', 'icon--size_mod')
				.grow__img_static
					+icon('grow_bottom', 'icon--size_mod')
