section.section.infinity_text
	.section_in
		.infinity_text__wrap
			-	n = 0;
			while n < 2
				-n++
				.infinity_text__line.js-infinity-text Инновационная технологичная линия гарантирует потребителю широкую гамму вкуса, сохранение всех полезных элементов, аппетитный аромат и изумрудный цвет без применения добавок, при этом обеспечивая микробиологическую безопасность
