section.section.main_hero
	.section_in
		.main_hero__wrap
			.main_hero__video_w
				.main_hero__overlay
				video.main_hero__video(src="images/main-hero/main-page.mov" loop)
			.main_hero__title_w
				.main_hero__subtitle
					span биотехнологический
					span индустриальный
					span агрокомплекс
				.main_hero__title RS SUCCESS AGRO

