include ../templates/mixins/m-news-item

-
	list = [
		{
			date: 'Узбекистан, Хаваст 10.04.2023',
			img: 'images/news/news_1.jpg',
			title: 'RS SUCCESS AGRO НАРАЩИВАЕТ ГЕНЕРАЦИЮ ЧИСТОЙ ЭНЕРГИИ И СТИМУЛИРУЕТ ЭКОЛОГИЗАЦИЮ В ХАВАСТЕ СЫРДАРЬИНСКОЙ ОБЛАСТИ',
			descr: 'RS SUCCESS AGRO глобальный биотехнологический индустриальный агрокомплекс, наращивает генерацию чистой энергии, стимулирует экологизацию, благоустраивая территорию Хавастского района...'
		},
		{
			date: 'Узбекистан, Хаваст 06.04.2023',
			img: 'images/news/news_2.jpg',
			title: 'INDUSTRIAL INNOVATION GROUP ПРЕЗЕНТОВАЛА МИНИСТРУ ЭКОНОМИКИ И ФИНАНСОВ РЕСПУБЛИКИ УЗБЕКИСТАН ШЕРЗОДУ КУДБИЕВУ ПРОЕКТ СТРАТЕГИЧЕСКОГО ПАРТНЕРСТВА ПО СОЗДАНИЮ УСТОЙЧИВОЙ СИСТЕМЫ УПРАВЛЕНИЯ ВОДНЫМИ РЕСУРСАМИ В СЫРДАРЬИНСКОЙ ОБЛАСТИ',
			descr: 'INDUSTRIAL INNOVATION GROUP презентовал правительству Узбекистана в лице Шерзода Кудбева, Министра экономики и финансов республики, ирригационно-мелиоративный проект «Устойчивая система управления во...'
		},
		{
			date: 'Узбекистан, Хаваст 05.04.2023',
			img: 'images/news/news_4.jpg',
			title: 'INDUSTRIAL INNOVATION GROUP В ЛИЦЕ RS SUCCESS AGRO ПРОДЕМОНСТИРОВАЛА ПРОРЫВНЫЕ ТЕХНОЛОГИИ ЧИСТОГО ОРГАНИЧЕСКОГО ПРОИЗВОДСТВА ДЛЯ ДЕЛЕГАЦИИ ИЗ АДМИНИСТРАЦИИ ПРЕЗИДЕНТА И КАБИНЕТА МИНИСТРОВ РЕСПУБЛИКИ УЗБЕКИСТАН',
			descr: 'INDUSTRIAL INNOVATION GROUP – мировой лидер интеллектуальных и технологических решений и один из самых крупных инвесторов в агросектор Узбекистана – показала уникальный биотехнологический индустриальный агрокомплекс высокопоставленной делегации из Администрации Президента и Кабинета Министров Республики Узбекистан',
			btn_see_all: true
		}
	]

section.section.news_list
	.section_in
		+title('Новости')
		.news_list__wrap
			each item in list
				+news_item(item)
