section.section.solar
	.section_in
		.solar__wrap
			.solar__content
				.solar__text
					b 120
					| солнечных панелей мощностью 37 КВт обеспечивают работу одной станции подземного капельного орошения.
				+picture({
					class: 'solar__img_w',
					class_img: 'solar__img',
					img: 'images/solar.png',
					alt: 'solar img'
				})
				.solar__title_w
					h3.solar__title.section_title На сегодня это уже мини-солнечная станция грандиозной мощности.
