.animate_product__img_container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.animate_product__img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;

	&:first-child {
		z-index: 10;

		@include bp($point_4, min) {
			max-width: 55rem;
		}
		@include bp($point_4 - 1) {
			max-width: 30rem;
		}
	}

	&:last-child {
		z-index: 5;

		transition: transform 1s ease-out;
		.animate_product__img_container:not(.animate_product__img_container--animated) & {

			@include bp($point_4, min) {
				transform: translateX(-35.5rem);
			}

			@include bp($point_4 - 1) {
				transform: translateX(-20rem);
			}
		}

		.animate_product__img_container.animate_product__img_container--animated & {

			@include bp($point_4, min) {
				transform: translateX(-10rem);
			}

			@include bp($point_4 - 1) {
				transform: translateX(-7.5rem);
			}
		}

		@include bp($point_4, min) {
			max-width: 13rem;
		}

		@include bp($point_4 - 1) {
			max-width: 7.5rem;
		}
	}
}

.animate_product__title {
	letter-spacing: 0.065em;
	text-transform: uppercase;
	text-align: center;

	color: $black;

	@include bp($point_4, min) {
		font-size: 4.6rem;
	}

	@include bp($point_4 - 1) {
		font-size: 2.2rem;
	}
}

