extends layout/layout

block vars
	include ./templates/mixins/m-hero
	include ./templates/mixins/m-text-media
	include ./templates/mixins/m-title
	include ./templates/mixins/m-banner-block
	include ./templates/mixins/m-items-icons
	include ./templates/mixins/m-certificate-full
	include ./templates/mixins/m-image-grid
	- array = {body_class:'', title_inner:'About'}

block content_block
	+hero({
		img: 'hero_1.jpg'
	})
	+text_media({
		main_title: 'о компании',
		title: 'RS Success Agro основан в 2019 году путем привлечения инвестиций со стороны Industrial Innovation Group.',
		descr: 'Industrial Innovation Group входит в ТОП-3 самых крупных иностранных инвесторов ОАЭ в Узбекистане. В рамках сотрудничества построен агрокомплекс для полной переработки сырья из технической конопли, не имеющий аналогов в мире.',
		img: 'images/text_center.jpg'
	})
	+text_media({
		subtitle: 'RS Success Agro обладает полным спектром уникальных интеллектуальных технологий и ультрасовременной техники, что позволяет совершить инновационное аграрное чудо в рамках одного комплекса. ',
		video: 'images/text-media/text_video_1.mov'
	}, 'text_media--row_mod')
	+banner_block({
		mod: 'banner_block--content_mod',
		img: 'images/banner/banner_3.png',
		title: 'Единственный в мире',
		descr: '<p>Применение уникальных передовых технологий выводит сельскохозяйственный сектор Узбекистана на новый инновационный уровень. RS Success Agro сделал прогрессивный шаг в диверсификации продукции узбекского сельского хозяйства, возрождая вековые традиции коноплеводства.</p><p>Глобальный биотехнологический агрокомплекс в Узбекистанееще долгое время будет единственным в мире научно-агропромышленным объединением замкнутого цикла, основанном на самых последних технологических разработках – от поля до продукции в магазине.</p>',
	})
	include ./blocks/goals
	+items_icons([
		{
			img: 'icon_1.png',
			title: 'Устойчивая деловая репутация',
			descr: 'Мы ответственно относимся к своему лидерству на рынке и его влиянию, которое оказываем на страну, людей и компании. Мы создаем интеллектуальный переворот в агросекторе Узбекистана, формируем деловую культуру ведения национального бизнеса глобального масштаба. Несем ответственность за взятые обязательства, качественно выполняем условия контактов. Мы решительно защищаем репутацию компании, отстаиваем интересы законными профессиональными способами. '
		},
		{
			img: 'icon_2.png',
			title: 'Уважение к окружающей среде',
			descr: 'Переходя на более благоприятную для природы и справедливую для сельского хозяйства деятельность, мы улучшаем условия жизни, сокращая выбросы и использование агрохимикатов, защищая и возобновляя экосистемы. На всех производственных этапах мы минимизируем использование энергоресурсов, бережно обрабатываем землю и тщательно контролируем качество нашей продукции. '
		},
		{
			img: 'icon_3.png',
			title: 'Профессиональная компетентность',
			descr: 'Уникальные знания, создание и внедрение передовых технологий, которые всегда позволяют быть на шаг впереди.'
		},
		{
			img: 'icon_4.png',
			title: 'Динамичность',
			descr: 'Готовность к переменам и инновациям, гибкость к современным вызовам, проактивность.'
		},
		{
			img: 'icon_5.png',
			title: 'Инновационность',
			descr: 'Благодаря передовым технологиям мы способны решить самые сложные задачи и достичь наивысших результатов. Мы не боимся изменений, а воспринимаем их, как новые возможности для развития. Мы строим современные технологичные предприятия, совершенствуем процессы, обучаем персонал.'
		},
		{
			img: 'icon_6.png',
			title: 'Развитие потенциала людей',
			descr: 'Благодаря динамическому развитию и взвешенной кадровой политике каждый сотрудник компании имеет возможность усовершенствовать свои знания, реализовать собственные амбиции и потенциал. Мы уделяем много внимания обучению и развитию специалистов и молодежи с высоким потенциалом.'
		},
	])
	include ./blocks/parameters
	+certificate_full({
		main_title: 'Лицензия и сертификаты RS SUCCESS AGRO',
		text: [
			'RS Success Agro выдана первая лицензия в Узбекистане для промышленников в сфере коноплеводства. Лицензия предоставляет возможность выращивать, перерабатывать, хранить и продавать, транспортировать, а также импортировать и экспортировать техническую коноплю на территории страны. Данная лицензия стала первым подобного рода документом в независимой истории страны в совершенно новом направлении экономики Узбекистана - коноплеводстве.',
			'RS Success Agro получила Сертификаты о соответствии требованиям международных стандартов ISO 9001 и ISO 22000 «Производство, упаковка и маркировка конопляного масла холодного отжима». Международные аудиторы высоко оценили подготовленную инфраструктуру и профессиональный подход в производстве конопляного масла холодного отжима торговой марки Leodar ® и рекомендуют глобальний биотехнологичный агрокомплекс RS Success Agro для внесения в список компаний, соответствующих требованиям пищевой безопасности.'
		],
		items: [
			'certificate_1',
			'certificate_2',
			'certificate_3',
			'certificate_4',
			'certificate_5',
			'certificate_6',
			'certificate_7',
			'certificate_8',
			'certificate_9',
			'certificate_10',
			'certificate_11',
			'certificate_12',
			'certificate_13',
			'certificate_14',
			'certificate_15',
			'certificate_16',
			'certificate_17',
			'certificate_18',
			'certificate_19',
			'certificate_20',
		]
	})
