extends layout/layout

block vars
	include ./templates/mixins/m-hero
	include ./templates/mixins/m-title
	include ./templates/mixins/m-color-block
	include ./templates/mixins/m-banner-block

	- array = {body_class:'', title_inner:'Carbon'}

block content_block
	+hero({
		img: 'hero_8.jpg'
	})
	+color_block({
		main_title: 'Мировые выбросы парниковых газов',
		title: 'Основные парниковые газы, выбрасываемые в результате деятельности человека, способствующие глобальному потеплению и изменению климата:',
		img: '',
		items: [
			{
				title:'Углекислый газ (CO2)',
				descr: '',
				list: [
					'Использование ископаемого топлива',
					'Промышленность',
				]
			},
			{
				title:'Углекислый газ (CO2)',
				descr: '',
				list: [
					'Вырубка лесов',
					'Выращивание сельскохозяйственных культур',
					'Животноводство',
				]
			},
			{
				title:'МЕТАН (CO2)',
				descr: '',
				list: [
					'Сельскохозяйственная деятельность',
					'Управление отходами',
					'Использование энергии',
					'Сжигание биомассы',
				]
			},
			{
				title:'Оксид азота (N2O)',
				descr: '',
				list: [
					'Сельскохозяйственная деятельность (использование удобрений)',
					'Сжигание ископаемого топлива',
				]
			},
			{
				title:'Фторированные газы (F-газы)',
				descr: '',
				list: [
					'Промышленность',
				]
			},
		]
	})
	include ./blocks/procent
	include ./blocks/article
	+banner_block({
		main_title: 'Конопля - углеродная королева',
		img: 'images/banner/banner_14.jpg',
		subtitle: 'Конопля — быстрорастущее, сильноволокнистое, высокоустойчивое растение, которое требует значительно меньшего количества процедур обработки почвы и удобрений, чем другие сельскохозяйственные культуры. ',
		descr: 'Было доказано, что учитывая высоту растения и пышную растительность, она поглощает больше CO2 на гектар, чем любая другая культура, и поэтому является идеальным поглотителем углерода. </br></br> CO2 постоянно связывается с волокном, которое затем используется для таких применений, как текстиль, бумага и строительные материалы, увеличивая срок хранения углерода на более длительный срок. </br></br> Один гектар конопли может поглотить от 8 до 15 тонн CO2 за один вегетационный период. В жарких странах возможны два урожая в год.  </br></br> Выращивание конопли — идеальное занятие для присвоения углеродных кредитов в рамках глобальной инициативы по удалению углерода.'
	})
	+color_block({
		main_title: 'УГЛЕРОДНЫЕ КРЕДИТЫ',
		subtitle: 'Кредит на удаление углерода (сертификат) — это своего рода проверенный сертификат, в котором указано, что субъект, которому выдан кредит, удаляет из атмосферы 1 тонну углекислого газа. </br></br> Основная концепция углеродных кредитов заключается в том, что компенсационные кредиты используются для передачи чистых климатических выгод от одной организации другой.',
		img: 'carbon.png',
		items: [
			{
				descr: 'Остаточные выбросы – неотъемлемая часть жизни человека на данный момент.',
			},
			{
				descr: 'Углеродные кредиты могут быть  приобретены компанией для  компенсации выбросов углерода в результате промышленного производства, эксплуатации транспортных средств и т. д., тем самым создавая стимул для организаций, которые сокращают, предотвращают, устраняют или улавливают выбросы.',
			},
			{
				descr: 'Эти меры компенсируют неизбежные процессы, приводящие к образованию парниковых газов.',
			},
			{
				descr: 'Углеродные кредиты генерируются за счет поглощения углерода, проектов, связанных с природными ресурсами, энергоэффективностью и возобновляемыми источниками энергии.',
			},
		]
	})
