extends layout/layout

block vars
	include ./templates/mixins/m-hero
	include ./templates/mixins/m-text-media
	include ./templates/mixins/m-title
	include ./templates/mixins/m-banner-block
	include ./templates/mixins/m-items-icons
	include ./templates/mixins/m-image-grid
	include ./templates/mixins/m-slider-certificate
	include ./templates/mixins/m-large-img
	include ./templates/mixins/m-text-on-img
	include ./templates/mixins/m-text-img-grid
	- array = {body_class:'', title_inner:'Inovation'}

block content_block
	+hero({
		img: 'hero_2.jpg'
	})
	+large_img({
		mod: 'banner_block--reverse_mod',
		main_title: 'Система капельного орошения',
		img: 'images/banner/banner_4.jpg',
		title: 'RS Success Agro реализовал один из сложнейших и дорогостоящих процессов',
		descr: 'Внедрена система подземного капельного орошения на почти 5 тысячах га земли. Это треть всех земель в Узбекистане, оснащенных системой капельного орошения.',
	})
	include ./blocks/counted-list
	include ./blocks/grow
	+banner_block({
		main_title: 'Солнечная электростанция',
		mod: 'banner_block--reverse_mod',
		img: 'images/banner/banner_5.jpg',
		subtitle: 'Для обеспечения энергетической независимости работы скважин и систем подземного капельного орошения RS Success Agro установила солнечные электрические панели. ',
	})
	include ./blocks/solar
	+banner_block({
		main_title: 'Метеостанция',
		img: 'images/banner/banner_6.jpg',
		subtitle: 'RS Success Agro имеет собственную метеостанцию, состоящую из различных интеллектуальных датчиков.',
		descr: '<p>С ее помощью инженеры фиксируют температуру воздуха, солнечную радиацию, давление насыщенных паров, относительную влажность, количество осадков, направление ветра и его скорость. Все параметры регистрируются в системе, и они важны для агрономов, чтобы рассчитать, когда эффективно сделать посев или обработку. </p><p>Датчики, установленные на полях, позволяют оценить влажность и температуру почвы, а также могут получать доступ к погодным данным для прогнозирования погодных условий в ближайшие дни и недели.</p>',
	})
	+text_img_grid({
		title: 'RS Success Agro внедрил «умное сельское хозяйство» в Узбекистане',
		text: ['IoT – это необходимое нововведение, которое помогает аграриям справится с проблемами, с которыми они сталкивались в «традиционном» сельском хозяйстве.'],
		rows: [
			{
				col: [
					{
						img: 'text-img-grid_1.jpg',
					},
					{
						img: 'text-img-grid_2.jpg',
					},
				]
			},
			{
				col: [
					{
						img: 'text-img-grid_3.jpg',
					},
					{
						img: 'text-img-grid_4.jpg',
					},
				]
			}
		]
	})
	+items_icons([
		{
			img: 'icon_8.png',
			title: '«Умная» агротехника',
			descr: 'Компания применяет системы IoT, базируясь на детальном измерении всех параметров, актуальных на полях. Высокие беспроводные технологии, автоматизация процессов и «умная» агротехника – неотъемлемый стандарт работы аграриев биотехнологического индустриального комплекса RS Success Agro.'
		},
		{
			img: 'icon_7.png',
			title: 'Технология IoT',
			descr: 'Система IoT обеспечивает полный контроль над процессом выращивания культур и это ощутимо повышает эффективность агробизнеса. Технология IoT позволяет производить учет и контроль карт полей, динамику посевов, выявление проблемных участков, мониторинг техники, соблюдение технологий, а также задавать множество других параметров.'
		},
	])
	+banner_block({
		main_title: 'Лабораторный комплекс',
		img: 'images/banner_gif_1.gif',
		subtitle: 'RS Success Agro активно использует существующие передовые научные достижения и создает их.',
		descr: 'Для этих целей развернут исследовательский комплекс, который включает в себя агротехнологическую лабораторию, лаборатории определения качества выпускаемой продукции, селекции и семеноводства. Весь комплекс оснащен по последнему слову науки и техники – полный цикл контроля продукции обеспечивается самым передовым, точным и высокочувствительным оборудованием мировых брендов.',
	})
	include ./blocks/slider-text
	+text_on_img({
		subtitle: 'На имеющемся оборудовании определяется содержание основных каннабиноидов (ТГК, КБД) в растениях конопли в различные периоды вегетации.',
		img: 'text_on_img.jpg',
		descr: [
			'Пищевую продукцию, полученную из семян конопли, тестируют по всем показателям качества, показателям безопасности (пестициды, микотоксины, диоксины), проверяют на отсутствие токсичных элементов (свинец, кадмий, ртуть, мышьяк) и наличие терпенов.',
			'Такой широкий спектр исследований позволяет проводить современное, высокотехнологичное и высокоточное оборудование, имеющееся в лабораторном комплексе RS Success Agro.'
		]
	})
