extends layout/layout

block vars
	include ./templates/mixins/m-hero
	include ./templates/mixins/m-text-media
	include ./templates/mixins/m-title
	include ./templates/mixins/m-product-section
	include ./templates/mixins/m-img-row
	include ./templates/mixins/m-dropdown
	include ./templates/mixins/m-slider-certificate
	include ./templates/mixins/m-banner-block
	- array = {body_class:'', title_inner:'Leodar'}
block content_block
	+hero({
		img: 'hero_4.jpg',
		img_media: 580,
		img_mob: 'hero_4_mob.jpg',
	})
	+text_media({
		main_title: 'Торговая марка',
		main_title_logo: 'leodar_logo.png',
		title: 'RS Success Agro основан в 2019 году путем привлечения инвестиций со стороны Industrial Innovation Group.',
		descr: 'Industrial Innovation Group входит в ТОП-3 самых крупных иностранных инвесторов ОАЭ в Узбекистане. В рамках сотрудничества построен агрокомплекс для полной переработки сырья из технической конопли, не имеющий аналогов в мире.',
		video: '/images/green_world.mov',
		on_media_img: 'leodar_world.png',
		on_media_text: 'Торговая марка Leodar® зарегистрирована в 70 ведущих странах мира, включая все страны Европейского Союза и Великобританию, и представлена на всех континентах.',
	})
	+text_media({
		subtitle: 'Готовая бутылка из изящного итальянского стекла украшается одновременно с двух сторон этикетками и голограммой на колпачке.',
		descr: '<p>Эффектное оформление бутылки конопляного масла Leodar® помогает отразить преимущества продукта и его ценность, подчеркивая уникальность и отличие от альтернативных предложений.</p><p>После завершения оформления емкости происходит безопасная транспортировка готовой продукции с обязательным контролем веса.</p>',
		img: 'images/text-media/text_media_3.jpg'
	}, 'text_media--row_mod')
	include ./blocks/animate-product
	+text_media({
		title: 'Масло Leodar® надежно защищено от подделки, что гарантирует потребителю продукт наивысшей пробы и качества.',
		subtitle: 'Уникальная ультрасовременная электронная этикетка, аналогов которой нет в мире, позволяет отследить весь этап производства – от закладки семечка в почву до полки магазина. ',
	})
	+img_row([
		'img_row_1.jpg',
		'img_row_2.jpg',
		'img_row_3.jpg',
	])
	+dropdown({
		img: 'dropdown_label_1.png',
		title: 'Круглый голографический елемент',
		list: [
			{
				title: 'Форма и размер элемента:',
				descr: 'круг диаметром 22 мм',
			},
			{
				title: 'Трехцветный логотип',
				descr: 'с независимыми кинетическими эффектами в отдельных элементах',
			},
			{
				title: 'Технология записи голограммы:',
				descr: 'Электронно-лучевая литография',
			},
			{
				title: 'Радужный кинетический эффект пульсации',
				descr: 'в элементах текстуры фона',
			},
			{
				title: 'Разрешение голографического изображения',
				descr: '5 мкм',
			},
			{
				title: 'Высокочастотный дифракционный контур',
				descr: 'толщиной 15 мкм, собирающий воедино элементы логотипа',
			},
			{
				title: 'Цвет металлизированной фольги',
				descr: 'Золото',
			},
			{
				title: 'Микротекст «LEODAR»',
				descr: 'высотой 100 мкм, может быть распознан при использовании 5-кратного увеличения',
			},
			{
				title: 'Разрешение записи голограммы',
				descr: '0,2 мкм',
			},
		]
	})
	+dropdown({
		mod: 'dropdown--reverse_mod',
		img: 'dropdown_label_2.png',
		title: 'Круглый голографический елемент',
		list: [
			{
				title: 'Форма и размер элемента:',
				descr: 'круг диаметром 22 мм',
			},
			{
				title: 'Трехцветный логотип',
				descr: 'с независимыми кинетическими эффектами в отдельных элементах',
			},
			{
				title: 'Технология записи голограммы:',
				descr: 'Электронно-лучевая литография',
			},
			{
				title: 'Радужный кинетический эффект пульсации',
				descr: 'в элементах текстуры фона',
			},
			{
				title: 'Разрешение голографического изображения',
				descr: '5 мкм',
			},
			{
				title: 'Высокочастотный дифракционный контур',
				descr: 'толщиной 15 мкм, собирающий воедино элементы логотипа',
			},
			{
				title: 'Цвет металлизированной фольги',
				descr: 'Золото',
			},
			{
				title: 'Микротекст «LEODAR»',
				descr: 'высотой 100 мкм, может быть распознан при использовании 5-кратного увеличения',
			},
			{
				title: 'Разрешение записи голограммы',
				descr: '0,2 мкм',
			},
		]
	})
	+product({
		img: 'product_2.png',
		title: 'Leodar® — это настоящее воплощение молодости и радости жизни!',
		descr: [
			'Конопляное масло Leodar® имеет великолепный, изысканный вкус в сочетании с роскошным, аппетитным и соблазнительным ароматом, сохранившим все богатства природы. Перед его исцеляющей энергией преклонялись римские полководцы и древневосточные императоры. Легендарный вкус очаровывает аристократическим ореховым тоном, оттененным нежными нотами миндаля и кедровыми полутонами, превращая чарующий, наполненный светом, букет вкуса в волшебный эликсир, попробовав который вы будете покорены навеки.',
		]
	})
	+text_media({
		img: 'images/text-media/text_media_4.jpg'
	})
	+text_media({
		subtitle: 'Готовая бутылка из изящного итальянского стекла украшается одновременно с двух сторон этикетками и голограммой на колпачке.',
		descr: '<p>Эффектное оформление бутылки конопляного масла Leodar® помогает отразить преимущества продукта и его ценность, подчеркивая уникальность и отличие от альтернативных предложений.</p><p>После завершения оформления емкости происходит безопасная транспортировка готовой продукции с обязательным контролем веса.</p>',
		img: 'images/text-media/text_media_3.jpg'
	}, 'text_media--row_mod')
	include ./blocks/parts-block
	+text_media({
		link: 'Leodar.com',
		video : 'images/leodar_video.mp4'
	}, 'text_media--row_mod')
	include ./blocks/product-download
	+slider_certificate({
		main_title: 'Лицензия и сертификаты LEODAR®',
		slides: [
			'certificate_4',
			'certificate_10',
			'certificate_7',
			'certificate_3',
			'certificate_6',
			'certificate_11',
			'certificate_5',
			'certificate_2',
		]
	})
	+banner_block({
		main_title: 'LEODAR® PURE ORGANIC HEMP HONEY',
		img: 'images/banner/banner_15.jpg',
		title: 'LEODAR® PURE ORGANIC HEMP HONEY – сладкое сокровище природы!',
		subtitle: 'LEODAR® HONEY – действительно волшебный дар природы, собранный трудолюбивыми пчелками с органического поля биотехнологического индустриального агрокомплекса RS SUCCESS AGRO. Он содержит в себе кладезь витаминов B, C, E, железа, калия, магния, цинка и других минералов и микроэлементов. Этот витаминный коктейль делает LEODAR® HONEY непревзойдённым источником крепкого иммунитета!'
	})
	+banner_block({
		main_title: 'ЧАЙ ИЗ ЛИСТЬЕВ КОНОПЛИ HEMP EMERALD TEA®',
		mod: 'banner_block--reverse_mod',
		img: 'images/banner/banner_10.jpg',
		title: 'Hemp Emerald Tea®-великое сокровище чайного мира.',
		subtitle: 'Hemp Emerald Tea от торговой марки Leodar® наполняет такой невиданной силой, что, единожды попробовав этот непревзойденный чай, вы никогда не сможете от него отказаться!'
	})

	+product({
		img: 'product_3.png',
		subtitle: 'Энергия вкуса чая Hemp Emerald Tea® впечатляет с первого мгновения.',
		descr: [
			'Игривый и переливчатый коктейль из питательных веществ, витаминов и микроэлементов с чувственным аккордом миндаля в обрамлении наполненной солнцем зелени пользуется почтением у истинных ценителей чая.',
		]
	})
