extends layout/layout

block vars
	include ./templates/mixins/m-large-news
	- array = {body_class:'', title_inner:'News'}
block content_block
	+large_news({
		main_title: 'Актуальные новости',
		img: 'news_3.jpg',
		date: 'Узбекистан, Апрель 2022',
		title: 'RS SUCCESS AGRO ПРОДЕМОНСТРИРОВАЛА ИННОВАЦИОННЫЙ ПОДХОД В ВЕДЕНИИ АГРОБИЗНЕСА И ЭКОЛОГИЧЕСКИ ЧИСТОЕ ОРГАНИЧЕСКОЕ ПРОИЗВОДСТВО ПРОДУКЦИИ LEODAR, HEMPORAMA И LEORIA МИНИСТРУ СЕЛЬСКОГО ХОЗЯЙСТВА РЕСПУБЛИКИ УЗБЕКИСТАН',
		descr: 'RS SUCCESS AGRO, глобальный биотехнологический индустриальный агрокомплекс, продемонстрировал инновационный подход в ведении агробизнеса, а также уникальные технологии производства экологически чистой органической продукции из технической конопли Азизу Воитову, Министру сельского хозяйства Республики Узбекистан.',
		btn: true
	})
	include ./blocks/news-list
