extends layout/layout

block vars
	- array = {body_class:'', title_inner:'News - №1'}
block content_block
	section.section.news_open
		.section_in
			.news_open__date Узбекистан, Хаваст, 20 сентября 2021
			h3.news_open__title Industrial Innovation Group в лице RS SUCCESS AGRO открывает новые востребованные специальности в Узбекистане
			hr
			article
				img.lazy(data-src="/images/news/news_1.jpg", alt="news img")
				ul
					li Industrial Innovation Group в лице RS Success Agro подписала договор о создании новой специальности на базе профессиональной школы №2 Хавастского района Республики Узбекистан
					li RS Success Agro предоставит современную техническую базу и теоретические материалы для образовательного процесса
					li RS Success Agro гарантировано трудоустроит выпускников учебного заведения, получивших новую специальность
					li Биотехнологический индустриальный агрокомплекс RS Success Agro поддерживает развитие и создание современных востребованных специальностей в учебных заведениях Узбекистана
				hr
				p Industrial Innovation Group в лице биотехнологического индустриального агрокомплекса RS Success Agro подписала договор о сотрудничестве с профессиональной школой №2 Министерства высшего и среднего специального образования Республики Узбекистан. На базе училища, расположенного в Хавастском районе, будут открыты курсы по подготовке специалистов новой востребованной специальности – «Монтаж систем капельного орошения».
				p Робия Ибрагимова, генеральный директор RS Success Agro, отметила: «Современные технологии кардинально меняют подходы к ведению традиционного сельского хозяйства. Поэтому сегодня крайне важно уделять особое внимание вопросу подготовки молодых современных высококвалифицированных кадров, знания и навыки которых отвечают требованием времени. RS Success Agro делает акцент на профессиональное образование и предлагает освоить новую востребованную профессию, вместе с которой молодой специалист будет развиваться в выбранном направлении совместно с нашей инновационной компанией, поскольку RS Success Agro совершает интеллектуальный и технологический переворот в агросекторе Узбекистана».
				p Биотехнологический индустриальный агрокомплекс предоставит всю техническую базу и теоретические материалы для обучения студентов. По окончанию курсов учащиеся получат сертификат и гарантированное трудоустройство в компании по целевому обучению.
				p RS Success Agro заинтересована в том, чтобы трудоустраивать местных профессионалов, а для молодежи – важно получать современные актуальные знания и опыт, чтобы всегда быть востребованным на рынке и иметь уверенность в будущем.
				p Industrial Innovation Group как лидер инновационных подходов в бизнесе и обладатель 399 объектов интеллектуальной собственности в лице RS Success Agro поддерживает развитие и создание современных востребованных специальностей в учебных заведениях Узбекистана, отвечающих новым требованиям, технологиям и стандартам агропромышленного сектора.
				hr
				p СП ООО RS Success Agro – глобальный биотехнологический индустриальный агрокомплекс, расположенный в Хавастском районе Сырдарьинской области, реализует масштабный проект по выращиванию и глубокой переработке целлюлозосодержащих культур на основе внедрения самых уникальных технологий, что позволяет вывести сельскохозяйственный сектор в Узбекистане на новый инновационный уровень.
				p Industrial Innovation Group в лице RS Success Agro возрождает утраченные традиции коноплеводства, построив автоматизированную и роботизированую систему полного цикла, рассчитанную на абсолютно безотходное производство. Уже сегодня здесь установлен и готов к старту целый ряд инновационных технологический линий собственного производства, собранных по технологиям Industrial Innovation Group: линии по производству масла, волокна, строительных материалов, кормов  и удобрений.
				hr
				img.lazy(data-src="images/news/news_2.jpg", alt="news img")
				p Робия Ибрагимова, генеральный директор RS Success Agro, и Туракулов Ойбек Хусанович, директор профессиональной школы № 2 Хавастского района, подписали договор о сотрудничестве
				+circle_btn({
					top_word: 'come',
					bottom_word: 'back',
					mod: 'circle_btn--prev_mod',
					btn_prev: true,
				})
