extends layout/layout

block vars
	include ./templates/mixins/m-hero
	include ./templates/mixins/m-text-media
	include ./templates/mixins/m-title
	include ./templates/mixins/m-banner-block
	include ./templates/mixins/m-items-icons
	include ./templates/mixins/m-icons-title
	include ./templates/mixins/m-product-section
	include ./templates/mixins/m-text-img-grid
	- array = {body_class:'', title_inner:'Technology'}

block content_block
	+hero({
		img: 'hero_3.jpg'
	})
	+banner_block({
		main_title: 'Суперэкологичная линия бутилирования конопляного масла <b>Leodar®</b>',
		img: 'images/banner/banner_8.jpg',
		subtitle: 'Автоматизированная комплексная линия разлива и бутилирования',
		descr: 'Линия создана для того, чтобы сохранить безупречный вкус и максимальную пользу конопляного масла холодного отжима торговой марки Leodar® для потребителя. Процесс упаковки похож на упаковку предмета роскоши, что усиливает предвкушение встречи с товаром.'
	})
	+text_media({
		subtitle: 'Готовая бутылка из изящного итальянского стекла украшается одновременно с двух сторон этикетками и голограммой на колпачке.',
		descr: '<p>Эффектное оформление бутылки конопляного масла Leodar® помогает отразить преимущества продукта и его ценность, подчеркивая уникальность и отличие от альтернативных предложений.</p><p>После завершения оформления емкости происходит безопасная транспортировка готовой продукции с обязательным контролем веса.</p>',
		video: 'images/text-media/text_video_2.mp4'
	}, 'text_media--row_mod')
	+icons_title([
		{
			img: 'icon_title_1.png',
			title: 'СТЕКЛЯННЫЕ БУТЫЛКИ',
			descr: 'От 250 мл до 500 мл'
		},
		{
			img: 'icon_title_2.png',
			title: 'НАНЕСЕНИЕ КОДА',
			descr: 'Лазерная печать'
		},
		{
			img: 'icon_title_3.png',
			title: 'СКОРОСТЬ УПАКОВКИ',
			descr: 'До 3 000 бутылок в час'
		},
		{
			img: 'icon_title_4.png',
			title: 'СКОРОСТЬ БУТИЛИРОВАНИЯ:',
			descr: '1 500 бутылок в час'
		},
		{
			img: 'icon_title_5.png',
			title: 'ЭТИКЕТИРОВАНИЕ',
			descr: 'Бутылка с двух сторон, колпачок'
		},
		{
			img: 'icon_title_6.png',
			title: 'ТОЛЬКО 4 ОПЕРАТОРА',
			descr: 'на смену'
		},
		{
			img: 'icon_title_7.png',
			title: 'СТЕРИЛИЗАЦИЯ ВОЗДУХОМ',
			descr: 'Заполнитель'
		},
		{
			img: 'icon_title_8.png',
			title: 'ПОЛНАЯ АВТОМАТИЗАЦИЯ',
			descr: 'от розлива до упаковки на поддонах EPAL'
		},
	])
	+product({
		img: 'product_1.png',
		title: 'Уникальная этикеткА Leodar®',
		descr: [
			'Контроль за продукцией агрокомплекса RS Success Agro включает наличие уникальной этикетки с цифровой индивидуальной контрольной маркировкой, защитной IMET-голограммы и интегрированной системы управления информацией о таких этикетках.',
			'Industrial Innovation Group разработала эксклюзивную этикетку и внедрила ее для торговой марки Leodar®. Это уникальное комплексное решение защиты от подделок, проверки аутентичности маркированной продукции и отслеживание полного жизненного цикла этикеток и продукции.',
			'Уникальная электронная этикетка позволяет проверить подлинность продукта несколькими способами – в том числе и через сайт торговой марки Leodar®, считав QR-код.',
		]
	})
	+text_img_grid({
		main_title: 'Линия производства конопляного масла холодного отжима торговой марки Leodar®',
		subtitle: 'Технология холодного прессования',
		descr: [
			'Чтобы производить высококачественное конопляное масло холодного отжима торговой марки Leodar®, внедрена технология холодного прессования, специально разработанная для щадящего отжима с целью получить масло высшей пробы и сохранить все его полезные свойства и положительное воздействие на организм человека.',
			'Абсолютно уникальная линия для розлива растительного масла из семян технической конопли холодного отжима собрана по индивидуальному заказу Industrial Innovation Group. Установленное оборудование автоматизировано производит стерилизацию, бутилирование, этикетирование, нанесение специального кода и упаковку.',
		],
		rows: [
			{
				col: [
					{
						img: 'text-img-grid_5.jpg',
						text: 'Производственная мощность – 4 тонны/час.'
					},
					{
						img: 'text-img-grid_6.jpg',
						text: 'Производство конопляного масла Leodar® соответствует требованиям международных стандартов ISO 9001 и ISO 22000.'
					},
				]
			},
		]
	})
	include ./blocks/infinity-text
	+banner_block({
		main_title: 'Технологическая линия производства высококачественных кормов для животных <b>HEMPORAMA®</b>',
		mod: 'banner_block--reverse_mod',
		img: 'images/banner/banner_9.jpg',
		subtitle: 'Кормовые гранулы для животных  торговой марки Hemporama®',
		descr: '<p>После холодного отжима конопляного масла сортовая семечка, дробленка, листья и жом перерабатываются в полезные кормовые гранулы для животных под торговой маркой Hemporama®.</p><p>Линия производства кормовых добавок позволяет изготавливать корм, согласно рецептуре, из натуральных компонентов с содержанием питательных, минеральных веществ и витаминов, которое соответствует лучшим мировым образцам. Полученные гранулы с дозированными микроэлементами станут незаменимым кормом для скотоводческих, птицеводческих и рыбоводческих ферм.</p><p>RS Success Agro обладает уникальным технологическим оборудованием для гранулирования сырья, обеспечивая качественные показатели гранулированного корма на выходе. С помощью весовых дозаторов готовый продукт упаковывается в мешки или в биг-бэги.</p><p>Все элементы линии функционируют как единый организм, обеспечивая бесперебойную работу производства, которая обеспечивается полным комплексом автоматизации систем и отдельных механизмов.</p>',
	})
	+text_media({
		main_title: 'Технологическая линия производства конопляного волокна <b>HEMPORAMA®</b>',
		subtitle: 'RS Success Agro внедряет уникальное производство волокна из технической конопли как альтернативу вырубке лесов и применения вредных синтетических материалов не только в Узбекистане, но и по всему миру.',
		descr: 'Уникальная по техническим характеристикам линия производства конопляного волокна, которая оборудована по технологиям Industrial Innovation Group, – быстро возобновляемое, энергосберегающее и экологически чистое сырье для потребностей национальной и мировой бумажной индустрии. ',
		img: 'images/text_center_2.jpg'
	})
	+text_img_grid({
		subtitle: 'Оборудована двухпоточная линия производства волокна общей производительностью 8 тонн/час.',
		descr: [
			'Готовое волокно подается в автоматический канальный пресс, в котором происходит прессование, формирование кипы, обвязка ее проволокой, и уже сформированная кипа отправляется на склад готовой продукции, где осуществляется отправка на экспорт для дальнейшего получения высококачественной бумаги, длинноволокнистой целлюлозы или текстиля.',
		],
		rows: [
			{
				col: [
					{
						img: 'text-img-grid_7.jpg',
						text: 'Производственная мощность технологической линии – 40 тысяч тонн в год'
					},
					{
						img: 'text-img-grid_8.jpg',
						text: ' '
					},
				]
			},
		]
	})
	+text_img_grid({
		main_title: 'Роботизированная технологическая линия производства стройматериалов <b>HEMPORAMA®</b>',
		text: ['Industrial Innovation Group как лидер инновационных подходов в бизнесе и обладатель 400 объектов интеллектуальной собственности в лице RS Success Agro внедряет суперсовременные технологии в производство стройматериалов из костры технической конопли, выращенной на полях в Сырдарьинской области Узбекистана.'],
		rows: [
			{
				col: [
					{
						img: 'text-img-grid_9.jpg',
						text: 'Производственная мощность технологической линии – 32 куба/час.'
					},
					{
						img: 'text-img-grid_10.jpg',
						text: ' '
					},
				]
			},
		]
	})
	+items_icons([
		{
			img: 'icon_9.png',
			title: 'Уникальная роботизированная линия',
			descr: 'Tехнологическая линия производства стройматериалов - это зеленая альтернатива синтетическим аналогам в современном строительстве. Линия по производству строительных материалов – это целый комплекс оборудования для полноценного производственного процесса, в котором присутствуют все необходимые виды технического оснащения, а также применяются технологические решения специалистов Industrial Innovation Group.'
		},
		{
			img: 'icon_10.png',
			title: 'Линия упаковки',
			descr: 'Линия стройматериалов полностью автоматизирована с роботизированным складом предварительной выдержки готовой продукции. Готовые блоки отправляются на линию упаковки, где происходит автоматическая укладка блоков на паллеты, которые в дальнейшем транспортируются на склад готовой продукции.'
		},
	])

